---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Forside">
  <article class="grid mx-auto container prose">
    <div id="logo">
      <h1>Forventet Middellevetid: Mænd Lever Kortere End Kvinder</h1>
      <p>Forventet middellevetid er en vigtig indikator for en befolknings sundhed og velvære. Gennem tiden har der været en markant forskel i middellevetiden mellem mænd og kvinder, hvor mænd generelt lever kortere end kvinder. Dette fænomen er blevet observeret i mange lande verden over, og Danmark er ingen undtagelse.</p>
      <img class="grid mx-auto container prose" src="/par.webp" alt="Ældre par sidder på en bænk" />
    </div>
    <div id="1">
      <h2>Historisk Udvikling</h2>
      <p>Gennem de seneste årtier har der været en støt stigning i forventet middellevetid for både mænd og kvinder. Dette skyldes forbedringer inden for sundhedsvæsenet, bedre levevilkår og avancerede medicinske behandlinger. Imidlertid har mænd stadig en lavere forventet middellevetid end kvinder.</p>
      <h3>Forventet Middellevetid for Mænd og Kvinder i Danmark (2000-2020)</h3>
      <img src="/data-levetid.svg" alt="Graf over forskellen på mænds og kvinders levetid over en periode fra 2000-2020" />
      <p>
        Grafen viser forventet middellevetid for mænd og kvinder i Danmark fra år 2000 til 2020. I år 2000 var mænds forventede middellevetid 74,5 år, mens kvindernes var 79,2 år. I år 2020 var mænds forventede middellevetid steget til 79,6 år, mens kvindernes var steget til 83,4 år. Selvom der er en stigning for begge køn, er forskellen mellem
        mænd og kvinder stadig betydelig.
      </p>
    </div>
    <div id="2">
      <h2>Årsager til Forskellen</h2>
      <p>
        Der er flere årsager til, at mænd generelt lever kortere end kvinder. En af de vigtigste årsager er livsstilsfaktorer. Mænd har historisk set haft en højere forekomst af risikoadfærd, såsom rygning, alkoholmisbrug og uheldige kostvaner. Disse faktorer bidrager til en højere forekomst af livsstilssygdomme som hjerte-karsygdomme og
        lungekræft.
      </p>
      <p>Endvidere spiller biologiske forskelle en rolle. Kvinder har generelt en stærkere immunforsvar og bedre evne til at modstå infektioner og sygdomme. Hormonelle forskelle kan også have en indflydelse på levetiden.</p>
    </div>
    <div id="3">
      <h2>Konklusion</h2>
      <p>
        Selvom forventet middellevetid for både mænd og kvinder er steget betydeligt gennem de seneste årtier, er der stadig en markant forskel mellem kønnene. Forbedringer inden for sundhedsvæsenet og levevilkår har hjulpet, men livsstilsfaktorer og biologiske forskelle fortsætter med at påvirke mænds levetid negativt. Det er vigtigt at fortsætte
        med at fokusere på prævention og sundhedsoplysning for at mindske denne forskel og forbedre mænds forventede middellevetid.
      </p>
    </div>
  </article>
</MainLayout>
